{% extends "base.html" %}
{% block content %}


<form action="" method="post">{% csrf_token %}
		
		{% if init %}
		{{state}}	
		{{form.as_p}}
       	<input type="submit" value="Add the Book" />
       	{% else %}
       	{{state}}
        </br>
        Name: {{name}}
        </br>Availabilit Start Time : {{avail_start}}
        </br>Availability ENd time : {{avail_end}}
        </br>Description Tags: {{tags}}
        </br>
         <a href="{% url 'hello.views.landing' %}">HOME</a>
         {% endif %}
</form>	


{% endblock %}