{% extends "base.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}
		{% if init %}
		{{state}} : {{book.name}}	
		{{form.as_table}}


       	<input type="submit" value="Add the Reservation" />
       	{% else %}

        {% if error %}
         {{state}}
         <a href="/landing/{{book.book_id}}/addReserve">Reserve Again</a>

         {% else %}
        {{state}}: {{book}} 
        </br>Reservation Start Time : {{reserve_start}}
        </br>Resrvation ENd time : {{reserve_end}}
        </br>
        

         {% endif %}
         {% endif %}
</form>			


{% endblock %}