{% extends "base.html" %}

{% block content %}

Reservations of {{user.username}} </br>

<table class = "table" border="1" cellpadding="3" id="printTable">
    <tbody><tr>
    <th>Book Name</th>
    <th>Reservation Start</th>
    <th>Reservation End</th>
    <th>Duration</th>
    <th>Owner</th>
    </tr>
    
    	{% for books in reservations %}
		<tr>
		<td><a href="/landing/{{books.book.book_id}}">{{books.book.name}}</a></td>
		<td>{{books.reserved_start}}</td> 
		<td>{{books.reserved_end}}</td> 
		<td>{{books.duration}}</td> 
		<td><a href="/bookOwner/{{books.book.owner_user.id}}">{{books.book.owner_user.username}}</a></td>
		</tr>
		{% endfor %}
    	
    </tbody>
    </table>
    </br>


    Books Owned by {{user.username}}</br>

<table class = "table" border="1" cellpadding="3" id="printTable">
		<tbody>
			<tr>
				<th>Book Name</th>
				<th>Availability Start</th>
				<th>Availability End</th>
			</tr>
			
				{% for books in books %}
				</tr>
					<td><a href="/landing/{{books.book_id}}">{{books.name}}</a></td>
					<td>{{books.avail_start}}</td>
					<td>{{books.avail_end}}</td>
				</tr>
				{% endfor %}
			
		</tbody>
	</table>
	</br>

{% endblock %}
