{% extends "base.html" %}
{% block content %}



<form action="" method="post">{% csrf_token %}
		{% if init %}
		<h2>{{state}}</h2>
    </br>
		{{form.as_p}}
    </br>
    <strong>Description Tags:</strong> <input type="texbox" name="descTags" value = "" maxlength="200" size="50">
    </br>
    </br>
       	<input class = "btn-primary" type="submit" value="Edit the Book" />
       	{% else %}
       	{{state}}: {{editName}}	

        </br>Available Start Time : {{navail_start}}
        </br>Available End time : {{navail_end}}
        
        </br>

        {% endif %}
        <!-- <a href="{% url 'hello.views.landing' %}">HOME</a> -->
      
</form>			


{% endblock %}