{% extends "base.html" %}

{% block content %}

<form action="addBook/" method="post">{% csrf_token %}
Books reserved by the {{user.username}}
</br>
	<table border="1" cellpadding="3" id="printTable">
    <tbody><tr>
    <th>Book Name</th>
    <th>Reservation Start</th>
    <th>Duration</th>
    <th>Owner</th>
    <th>Delete?</th>
    </tr>
    
    	{% for books in user_reserved %}
		<tr>
		<td><a href="{{books.book.name}}">{{books.book.name}}</a></td>
		<td>{{books.reserved_start}}</td> 
		<td>{{books.reserved_end}}</td> 
		<td>{{books.book.owner_user.username}}</td> 
		<td><a href="/deleteReserve">Yes</a></td>
		
		</tr>
		{% endfor %}
    	
    </tbody>
    </table>
    </br>

Total Available Books</br> 
	<table border="1" cellpadding="3" id="printTable">
		<tbody>
			<tr>
				<th>Book Name</th>
				<th>Last Reserved</th>
				<th>Owner</th>
			</tr>
			
				{% for books in book %}
				<tr>
				<td><a href="{{books.name}}">{{books.name}}</a></td>
				<td>{{books.last_reserve}}</td>
				<td>{{books.owner_user.username}}</td>
				</tr>
				{% endfor %}
		
		</tbody>
	</table>
	</br>

Books Owned by the User</br>

<table border="1" cellpadding="3" id="printTable">
		<tbody>
			<tr>
				<th>Book Name</th>
			</tr>
			
				{% for books in book_own %}
				</tr>
					<td><a href="{{books.name}}">{{books.name}}</a></td>
				</tr>
				{% endfor %}
			
		</tbody>
	</table>
	</br>
 <input type="submit" value="Add a Book" />
	</form>


{% endblock %}
