{% extends "base.html" %}
{% block content %}

{% if isUser %}

<form action="{{current_book.book_id}}/editResource/" method="post">{% csrf_token %}

        Book Name: {{current_book.name}}
        </br>
        Book Owner: <a href="/bookOwner/{{current_book.owner_user.id}}">{{current_book.owner_user.username}}</a> 
        </br>
        </br>
        Availability Start Time : {{current_book.avail_start}}
        </br>
        Availability Start Time : {{current_book.avail_end}}
        
        <table class = "table" border="1" cellpadding="3" id="printTable">
    <tbody><tr>
    <th>Reservation Start</th>
    <th>Reservation End</th>
    <th>Reserved by</th>
   	</tr>
    
    	{% for reserve in reservation %}
		<tr>
		<td>{{reserve.reserved_start}}</td> 
		<td>{{reserve.reserved_end}}</td> 
		<td><a href="/bookOwner/{{reserve.reserved_user.id}}">{{reserve.reserved_user.username}}</a></td>
        </tr>
		{% endfor %}
    	
    </tbody>
    </table>
    </br>

	Tag Descriptors:{% for x in allTags %} <a href="{{x.tag.tag_id}}/showTag">{{x.tag.tag_name}}</a>{% endfor %}
</br>

    <a href="/{{current_book.book_id}}/rssFeed">RSS LINK</a> </br>
	</br>
	        <input type="submit" class = "btn-primary" value="Edit the Resource" />
</form>

{% else %}
 
<form action="{{current_book.book_id}}/addReserve/" method="post">{% csrf_token %}

        Book Name: {{current_book.name}}
        </br>
        Book Owner: <a href="/bookOwner/{{current_book.owner_user.id}}">{{current_book.owner_user.username}}</a> 
        </br>
        </br>
        Availability Start Time : {{current_book.avail_start}}
        </br>
        Availability Start Time : {{current_book.avail_end}}
        
        <table class = "table" border="1" cellpadding="3" id="printTable">
    <tbody><tr>
    <th>Reservation Start</th>
    <th>Reservation End</th>
    <th>Reserved by</th>
    <th>Book Owner</th>
    </tr>
    
    	{% for reserve in reservation %}
		<tr>
		<td>{{reserve.reserved_start}}</td> 
		<td>{{reserve.reserved_end}}</td> 
		<td>{{reserve.reserved_user.username}}</td>
		<td>{{current_book.owner_user.username}}</td>
		   	
		</tr>
		{% endfor %}
    	
    </tbody>
    </table>
    </br>
Tag Descriptors:{% for x in allTags %} <a href="{{x.tag.tag_id}}/showTag">{{x.tag.tag_name}}</a>{% endfor %}</br> 

<a href="/{{current_book.book_id}}/rssFeed">RSS LINK</a> </br>
        <input type="submit" class = "btn-primary" value="Add A Reservation" />
</form>
{% endif %}
{% endblock %}